body {
    margin: 60px auto;
    width: 70%;
    background-color: #d4d4f7;
}

nav ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #666666;
}

a:hover {
    text-decoration: underline;
    color: #999999;
}

h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: #FFFFFF;
}

h3 {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: #FFFFFF;
}

p {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color:  #4d4d4d;
}

img.resize {
  max-width:25%;
  max-height:25%;
}
